<html>
  <head></head>
  <body>
    <h1>Add an Artist</h1>

<p>  Please add the details of the artist you would like to add:
    </p>

<form action="/artists" method="POST">
  <label> Name: </label> <input type="text" name="name"><br>
  <label> Genre: </label><input type="text" name="genre">

  <input type="submit" value="Submit">
 <p>
  <a href="/">Go to Homepage</a> 
  </p>
</form>