<html>
  <head></head>
  <body>
    <h1><%=@album.title%></h1>
    <p>
      Artist: <%=@artist.name%><br>
      Release year: <%=@album.release_year%> 
    </p>
  </body>
  <a href="/albums">Back</a><br>
</html>
