<html>
  <head></head>
  <body>
    <h1><%=@artist.name%></h1>
    <p>
      Genre: <%=@artist.genre%> <br>
      Artist ID: <%=@artist.id%>
    </p>
  </body>
  <a href="/artists">Back</a><br>
</html>
