<h1>You saved artist: <%=@new_artist.name%></h1>

<p><br>
  <a href="/artists">Go to Artists</a> <br>
  <a href="/albums">Go to Albums</a>
</p>

<p><br>
  <a href="/add_artist">Add an Artist</a> <br>
  <a href="/add_album">Add an Album</a> 
</p>

<p><br>
  <a href="/">Go to Homepage</a> 
</p>