<h1>You saved album: <%=@new_album.title%></h1>

<p><br>
  <a href="/albums">Go to Albums</a> <br>
  <a href="/artists">Go to Artists</a>
</p>

<p><br>
  <a href="/add_album">Add an Album</a> <br>
  <a href="/add_artist">Add an Artist</a> 
</p>

<p><br>
  <a href="/">Go to Homepage</a> 
</p>