<html>
  <head></head>
  <body>
    <h1>Demo Form Page</h1>

<p>  This is a demo form page for inputting data.
    </p>

<form action="/posts" method="GET">
  <input type="text" name="title">
  <input type="text" name="content">

  <input type="submit" value="Submit the form">
 <p>
  <a href="/">Go to Homepage</a> 
  </p>
</form>